html,
body {
    height: 100%;
}

body{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

/* Footer Styles */

footer {
    margin-top: auto;
}

.scroll {
    position: fixed;
    padding-top: 100px;
    z-index: 1
}